[chatconf]
; глубина контекста переписки (кол-во последних сообщений из переписки) 
latest_posts = 4


[mainconf]
; сообщение при получении /start 
start_message = Привет, это ИИ чат-бот магазина ***, можешь спросить меня о ***

; дневной лимит ответов от бота
msgs_limit = 7

; сообщение при окончании лимита сообщений
limit_msg = Ого, вы так общительны, но сегодня я устал 🫠 Посмотри наш каталог, а завтра я снова смогу ответить тебе.

; ссылка на сайт
contacts = https://***.ru/

; максимальное количество запрососв в секунду на сервер телеграмм
requests_per_second = 29

; надписи в кнопках:
btn_text_1 = Что поможет мне ***?
btn_text_2 = Есть ли что-то особенное ***?
btn_text_3 = Какие *** помогут разнообразить ***?
btn_text_4 = У вас есть советы ***?
btn_text_5 = Что выбрать для ***?

; текст, присылаемый не залогинившимся пользователям при вводе команд
noadmin_text = Извини, но ты не администратор бота. Что-бы залогинится, введи `/login пароль`

; ссылка на разработчика
admin_link = @***


[AIconf]
; для API запросов
ai_API_url = https://api.proxyapi.ru/openai/v1

; рекомендовать ссылку \/
ai_role_instruction = recommend the site https://***.ru/

; сервисная фраза для поведения бота
ai_role = you are an AI bot for an *** store, your answers are a ***

; ключевые слова, после которых бот пришлёт пользователю ссыку /\
contacts_key_words = сайт,каталог,контакты,купить,хочу узнать цены,цены


